name = "LinearOperatorCollection"
uuid = "a4a2c56f-fead-462a-a3ab-85921a5f2575"
authors = ["Tobias Knopp <tobias.knopp@tuhh.de> and contributors"]
version = "2.0.8"

[deps]
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
LinearOperators = "5c8ed15e-5a4c-59e4-a42b-c7e8811fb125"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
JLArrays = "27aeb0d3-9eb9-45fb-866b-73c2ecf80fcb"
NFFT = "efe261a4-0d2b-5849-be55-fc731d526b0d"
Wavelets = "29a6e085-ba6d-5f35-a997-948ac2efa89a"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
RadonKA = "86de8297-835b-47df-b249-c04e8db91db5"

[compat]
julia = "1.9"
GPUArrays = "11"
KernelAbstractions = "0.9"
JLArrays = "0.2"
NFFT = "0.13"
LinearOperators = "2"
RadonKA = "0.6"
Wavelets = "0.9, 0.10"
Reexport = "1.0"
FFTW = "1.0"

[weakdeps]
GPUArrays = "0c68f7d7-f131-5f86-a1c3-88cf8149b2d7"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
NFFT = "efe261a4-0d2b-5849-be55-fc731d526b0d"
Wavelets = "29a6e085-ba6d-5f35-a997-948ac2efa89a"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
RadonKA = "86de8297-835b-47df-b249-c04e8db91db5"

[targets]
test = ["Test", "FFTW", "Wavelets", "NFFT", "JLArrays", "RadonKA"]

[extensions]
LinearOperatorNFFTExt = ["NFFT", "FFTW"]
LinearOperatorFFTWExt = "FFTW"
LinearOperatorWaveletExt = "Wavelets"
LinearOperatorGPUArraysExt = "GPUArrays"
LinearOperatorRadonKAExt = "RadonKA"
